p,
ul,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}

div,
section {
  box-sizing: border-box;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: rgb(152, 226, 255);
  width: 400px;
  margin: auto;
  border-color: blue;
  border-radius: 10px;
  border: 2px solid rgb(37, 202, 252);
  padding: 20px;
  margin-bottom: 40px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 200px;
}

.name {
  font-size: 36px;
  font-weight: bold;
}

.tag {
  font-size: 18px;
}
.location {
  font-size: 24px;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(37, 202, 252);
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: calc(100% / 3);
}

.label {
  font-size: 18px;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
}
